* {
  box-sizing: border-box;
}

body {
  background: #0B2434;
  margin: 0;
  padding: 1em;
  font-family: 'Karla', sans-serif;
}

main {
  border-radius: 0.3125em;
  height: 90vh;
  min-height: 430px;
  max-width: 800px;
  background: #F5F5F5;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  margin: 0 1em;
  gap: 20px;
}

.btn-roll-dice {
  background: #5035FF;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  margin-top: 2em;
  padding: 1em 2em;
  color: #F5F5F5;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
}

.btn-roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 2.5rem;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
}